@*
    Vista parcial que muestra las habilidades del desarrollador.
*@
@{
}

<div class="container" style="margin-top: -75px">

    <div class="row justify-content-md-center text-center">

        <div class="col col-4 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">

            <i class="bi bi-front"></i>
            <h3>Frontend</h3>

            <p>Robustez y requerimientos del negocio.</p>
            <p class="text-primary cabecera">Stack:</p>
            <p>ASP.NET Blazor</p>
            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVP</li>
                <li>ASP.NET Core Razor Pages</li>
                <li>ASP.NET Core Blazor</li>
            </ul>
        </div>

        <div class="col col-4 bg-white habilidades" style="box-shadow: 0 5px 5px 0 gray">

            <i class="bi bi-back"></i>
            <h3>Backend</h3>

            <p>Trabajo en desarrollo, pruebas automáticas y entrega continua.</p>
            <p class="text-primary cabecera">Stack:</p>
            <p>ASP.NET Core</p>
            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVP</li>
                <li>ASP.NET Core Razor Pages</li>
                <li>ASP.NET Core Blazor</li>
            </ul>
        </div>

        <div class="col col-4 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">

            <i class="bi bi-database"></i>
            <h3>Dataend</h3>

            <p>Modelado de datos, almacenamiento y recuperación.</p>
            <p class="text-primary cabecera">Stack:</p>
            <p>SQL Server</p>
            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li>SQL Server</li>
                <li>Entity Framework Core</li>
                <li>ADO.NET</li>
                <li>SQL Server Integration Services</li>
            </ul>
        </div>

    </div>

</div>