@*
    Video 65
*@

@{
    ViewData["Title"] = "Gracias";
}

<div class="container text-center my-5">
    <h1 class="display-4">Gracias</h1>
    <p class="lead">Gracias por contactarnos. Nos pondremos en contacto contigo a la brevedad.</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg">Volver al inicio</a>
</div>
