@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center">
    <h1 class="display-4">Gerardo Tordoya</h1>
    <h2 class="display-5">Analista Programador</h2>

    <img id="photo"
         src="~/images/gerardo.jpg" 
         class="img-fluid"
         alt="Gerardo Tordoya" />

</div>
